*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  
}
/* Apply slow transition for all elements */
html {
  scroll-behavior: smooth;
}

* {
  transition: background-color 2s ease, transform 2s ease;
}

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
   background: radial-gradient(circle at top left, #ffd6c9, transparent 40%),
              radial-gradient(circle at top right, #c9d6ff, transparent 40%),
              linear-gradient(to bottom right, #ffffff, #f9f9f9);

  line-height: 1.6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
color: #535353;
  

}
.gradient-text {
  
  font-weight: bold;
  background: linear-gradient(90deg, #e63946, #6a4c93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}
header{
  display: flex;
  justify-content: flex-end ;
}
header h5:hover{
  cursor: pointer;
  
}
header a {
  text-decoration: none; 
  color: inherit; 
}





/* Links container */
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* allow wrapping on small screens */
  gap: 10px;
  margin-top: 20px;
}

.cnt {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.cnt-a {
  cursor: pointer;
}

.cnt-img {
  height: auto;
  width: auto;
  max-height: 40px;
  max-width: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cnt-img:hover {
  transform: scale(1.2);
}

/* Code font */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.content{
  
  justify-content: center;
  align-items: center;
  text-align: center;

}
.cours {
  
  border: 2px;
  border-radius: 15px;
  text-align: center;
  align-items: center;

  margin:10px;
  padding: 60px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}








/* Tablet and smaller */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .cnt-img {
    max-height: 50px;
    max-width: 70px;
  }
}
footer {
  
  bottom: 0;
  left: 0;
  width: 100%;
  
  color: #d6bbbb;
  text-align: center;
  padding: 10px;
}
/* Mobile screens */
@media (max-width: 480px) {
  section#Main {
    padding: 10px 0;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .cnt {
    flex-direction: column;
    gap: 15px;
  }

  .cnt-img {
    max-height: 40px;
    max-width: 60px;
  }
}
